{% extends "base.jinja.html" %}

{% block title %}
{{ username }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
        <h1>{{ username }}</h1>
        {{ content }}
    </div>
    <div class="col-xs-2"></div>
</div>

<div id="tagList" class="row">
  <ul data-bind="foreach: tags">
    <li><span data-bind="text: name"> </span></li>
  </ul>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
  <script src="{{ url_for('static', filename='js/tag.js') }}"></script>
{% endblock %}